#This is an example of a secrets file that is picked up to generate secrets.h
#for inclusion in 'secrets.h'

#Lines starting with '#' are commented

#The rest of the lines should be key/value pairs that generate define statements

#As most things require an MQTT broker IP/port and a wifi connection, these should 
#probably be included. Hwoever they're not necessary if a sketch doesn't need it

#Multiple files can be made, as long as they are in this directory and end with 
#'.secret' then they will be added to 'secrets.h'

SECRET_SSID my_wifi_network
SECRET_PASS my_super_secure_password